{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
      
      <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>

      <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>

      <div class="form-group">
          <label for="seeking_venue">Looking for Venues</label>
          {{ form.seeking_venue(placeholder='Venue', autofocus = true) }}
      </div>

      <div class="form-group">
          <label for="seeking_description">Seeking Description</label>
          {{ form.seeking_description(class_ = 'form-control', autofocus = true) }}
      </div>

      <!-- Availability Section -->
      <div class="form-group">
        <label for="availability">Availability</label>
        <div id="availability-container">
            {% for availability in availability_list %}
            <div class="availability-entry form-inline">
                <input type="datetime-local" name="availabilities[][start_time]" class="form-control" value="{{ availability['start_time'] }}" required>
                <input type="datetime-local" name="availabilities[][end_time]" class="form-control" value="{{ availability['end_time'] }}" required>
                <button type="button" class="btn btn-danger remove-availability">Remove</button>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-availability" class="btn btn-secondary">Add Availability</button>
      </div>
      
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <script>
    document.getElementById('add-availability').addEventListener('click', function() {
        var container = document.getElementById('availability-container');
        var entry = document.createElement('div');
        entry.className = 'availability-entry form-inline';
        entry.innerHTML = `
            <input type="datetime-local" name="availabilities[][start_time]" class="form-control" placeholder="Start Time" required>
            <input type="datetime-local" name="availabilities[][end_time]" class="form-control" placeholder="End Time" required>
            <button type="button" class="btn btn-danger remove-availability">Remove</button>
        `;
        container.appendChild(entry);

        // Add event listener to the new remove button
        entry.querySelector('.remove-availability').addEventListener('click', function() {
            entry.remove();
        });
    });

    // Initial remove button event listener
    document.querySelector('.remove-availability').addEventListener('click', function() {
        this.closest('.availability-entry').remove();
    });
  </script>
{% endblock %}
